#!/bin/bash
#PBS -N {{ job_name }}
#PBS -S /bin/bash
#PBS -l walltime={{job_walltime }}
#PBS -l mem={{job_memory}}
#PBS -l nodes=1:ppn=1

#PBS -o {{logs_folder}}/${PBS_JOBNAME}.o${PBS_JOBID}.log
#PBS -e {{logs_folder}}/${PBS_JOBNAME}.e${PBS_JOBID}.err

module load gcc/6.2.0
module load python/3.5.3

{% raw %}cd $PBS_O_WORKDIR {% endraw %}

{{ command }} \
{{ predict }} \
{{ dosages }} \
{{ samples }} \
{{ weights }} \
{{ output_prefix }}