#!/bin/bash
#PBS -N {{job_name}}
#PBS -S /bin/bash
#PBS -l walltime={{job_walltime}}
#PBS -l mem={{job_memory}}
#PBS -l nodes=1:ppn=1

#PBS -o {{logs_folder}}/{% raw %}${PBS_JOBNAME}.o${PBS_JOBID}.log{% endraw %}
#PBS -e {{logs_folder}}/{% raw %}${PBS_JOBNAME}.e${PBS_JOBID}.err{% endraw %}

ulimit -c unlimited

module load gcc/6.2.0
module load R/3.4.1
module load python/3.5.3

export MKL_NUM_THREADS={{ n_cpu }}
export OPEN_BLAS_NUM_THREADS={{ n_cpu }}
export NUMEXPR_NUM_THREADS={{ n_cpu }}
export OMP_NUM_THREADS={{ n_cpu }}

{% raw %}cd $PBS_O_WORKDIR {% endraw %}

{{ command }} \
{{ features }} \
{{ features_annotation }} \
{{ features_weights }} \
{{ data }} \
{{ data_annotation }} \
{{ rsid_whitelist }} \
{{ window }} \
{{ output_rsids }} \
{{ mode }} \
{{ chromosome }} \
{{ sub_batch }} \
{{ sub_batches }} \
{{ nested_cv_folds }} \
{{ parsimony }} \
{{ run_tag }} \
{{ dont_prune }} \
{{ MAX_M }} \
{{ repeat }} \
{{ output_prefix }}

