#!/bin/bash
#PBS -N {{ job_name }}
#PBS -S /bin/bash
#PBS -l walltime={{ job_walltime }}
#PBS -l mem={{ job_memory }}
#PBS -l nodes=1:ppn=1
#PBS -o logs/${PBS_JOBNAME}.o${PBS_JOBID}.log
#PBS -e logs/${PBS_JOBNAME}.e${PBS_JOBID}.err
########################################################################################################################
#CRI submission dandruff

module load gcc/6.2.0
module load python/3.5.3

cd $PBS_O_WORKDIR

{{ command }} \
{{ gwas_file }} \
{{ folder }} \
{{ pattern }} \
{{ keep_all_observed }} \
{{ parsimony }} \
{{ output }}