#!/bin/bash
#PBS -N {{ job_name }}
#PBS -S /bin/bash
#PBS -l walltime={{ job_walltime }}
#PBS -l mem={{ job_memory }}
#PBS -l nodes=1:ppn={{ n_cpu }}
#PBS -o logs/${PBS_JOBNAME}.o${PBS_JOBID}.log
#PBS -e logs/${PBS_JOBNAME}.e${PBS_JOBID}.err
########################################################################################################################
#CRI submission dandruff

module load gcc/6.2.0
module load python/3.5.3

export MKL_NUM_THREADS={{ n_cpu }}
export OPEN_BLAS_NUM_THREADS={{ n_cpu }}
export NUMEXPR_NUM_THREADS={{ n_cpu }}
export OMP_NUM_THREADS={{ n_cpu }}

cd $PBS_O_WORKDIR

{{ command }} \
{{ by_region_file }} \
{{ gwas_file }} \
{{ parquet_genotype }} \
{{ parquet_genotype_metadata }} \
{{ window }} \
{{ parsimony }} \
{{ chromosome }} \
{{ cutoff }} \
{{ regularization }} \
{{ frequency_filter }} \
{{ sub_batches }} \
{{ sub_batch }} \
{{ cache_variants }} \
{{ standardise_dosages }} \
{{ keep_palindromic_imputation }} \
{{ use_palindromic_snps }} \
{{ output }}
